<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="bingo.css" rel="stylesheet">
	</head>
	<body>
    <div id="app" class="container" style="padding-top: 60px">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div
            v-if="Object.keys(target).length"
            class="text-center"
            >
            <img :src="target.url" height="500px">
            <div class="name2">{{ `${target.sid} ${target.name}` }}</div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2 text-center" v-for="sid in targetSids.slice(1)">
              <img :src="'https://lh3.googleusercontent.com/a-/' + hsdic[sid].uri + '=s96'" height="96">
              <div>{{ hsdic[sid].name.split(" ")[0] }}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="jumbotron text-center">
            <h1>00:{{ ('00' + countdown).slice(-2) }}</h1>
          </div>
          <div class="row text-center">
            <div class="col-lg-6 col-md-6" v-show="!isCounting">
              <div class="input-group">
                <span class="input-group-addon">Countdown</span>	
                <input type="number" class="form-control" max="99" min="1" v-model.number="defaultCountdown">
                <span class="input-group-addon">sec</span>
              </div>
            </div>
            <div class="col-lg-6 col-md-6" :class="{'col-lg-offset-6': isCounting, 'col-md-offset-6': isCounting}">
              <button class="btn btn-info" @click="start()" :disabled="isCounting || isPause">Start</button>
              <button class="btn btn-info" @click="pause()" :disabled="!isCounting" v-show="!isPause">Pause</button>
              <button class="btn btn-info" @click="resume()" v-show="isPause">Resume</button>
              <button class="btn btn-danger" @click="reset()" :disabled="!isCounting && !isPause">Reset</button>
            </div>
          </div>
          <h2>Ranks</h2>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Time</th>
                <th>Prize</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, idx) in winners">
                <td>{{ idx+1 }}</td>
                <td>
                  <img :src="'https://lh3.googleusercontent.com/a-/' + hsdic[item[0]].uri" width="30px" style="border-radius:50%">
                  {{ item[0] }}
                </td>
                <td>{{ new Date(item[1] * 1000).toJSON().slice(0, 19).replace("T", " ") }}</td>
                <td>$1,000 NTD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
        </div>
        <div class="col-lg-6 col-md-6">
        </div>
      </div>
    </div>
    <div id="app">
      <div id="footer">
        <div class="container text-center">
          Designed by <a href="https://aji.tw" target="_blank">阿吉</a> 
        </div>
      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="data.js"></script>		
    <script src="admin.js"></script>		
	</body>
</html>

