<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
		<link href="bingo.css" rel="stylesheet">
	</head>
	<body>
    <div id="app">
      <div class="jumbotron text-center">
        <h1>大頭賓果</h1>
        <h2>遊戲規則</h2>
        <p>系統會從所有員工大頭照中隨機選出<span v-text="Math.pow(this.$gridnum, 2)"></span>張<br>
           凡連線數達<span class="ball">{{ win }}</span>條者<br>即可獲得「現金大禮」
        </p>
      </div>
      <div class="cont" :class="{container: !isMobile}">
        <div class="text-center">
          <div class='row'>
            <div class="col-xs-offset-3 col-xs-6">
              <p class="alert">連線數： {{ lineCount }}</p>
            </div>
          </div>
          <template v-for="(arr, idx1) in matrix">
            <div class='row row-centered'>
              <div 
                v-for="(_, idx2) in arr"
                class="col-xs-2 f"
                :style="{ 'background-image': 'url(' + cellImg(idx1, idx2) + ')' }"
                @click="toggle(idx1, idx2)"
              >
                <div
                  class="name"
                  :class="{xycenter: matrix[idx1][idx2]}"
                >
                {{ cellText(idx1, idx2) }}
                </div>
              </div>
            </div>
          </template>
          <br>
          <button class="btn btn-info btn-lg" @click="shuffleSids()" :disabled="isStarted">Shuffle</button>
          <button class="btn btn-warning btn-lg" @click="startGame()" :disabled="isStarted">Start</button>
          <button class="btn btn-danger btn-lg" :disabled="lineCount < win">Verify</button>
        </div>
      </div>

      <div id="footer">
        <div class="container text-center">
          Designed by <a href="https://aji.tw">阿吉</a> 
        </div>
      </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="data.js"></script>		
		<script src="bingo.js"></script>		
	</body>
</html>

