body {
  background-image: url('paisley.png');
  background-repeat: repeat;
}

.cont {
  padding-left: 50px;
  padding-right: 50px;
}

.f {
  background-size: cover;
  border: 2px solid white;
  width: 20%;
  height: 0;
  padding-bottom: 20%;
}

.name {
  position: absolute;
  background: white;
  bottom: 0;
  left: 0;
  width: 100%;
}

.name2 {
  font-size: 30px;
}

.xycenter {
  background: #808cff;
  position: absolute;
  font-size: 40px;
  color: #FFF380;
  word-spacing: 9999px; /** force line break **/
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /** Y-axis align **/
  justify-content: center; /** X-axis align **/
}

/*http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns*/
.row-centered {
  text-align: center;
}

.jumbotron {
  background: rgba( 232, 173, 170, 0.7) !important;
}

.ball {
  display: inline-block;
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  line-height: 1.1em;
  background: black;
  color: white;
  text-align: center;
}

#footer {
  font-size: 20px;
  height: 60px;
  background-color: rgba(253, 238, 244, 0.6);
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:#000;
  opacity: .75;
  z-index: 9999999;
}

.swal2-popup {
  font-size: 2rem !important;
}

@media (max-width: 575.98px) {
  .name {
    font-size: 0.5em;
  }
  .xycenter {
    font-size: 1em;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .name {
    font-size: 0.5em;
  }
  .xycenter {
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .name {
    font-size: 0.8em;
  }
  .xycenter {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .name {
    font-size: 0.9em;
  }
  .xycenter {
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  .name {
    font-size: 1.1em;
  }
  .xycenter {
    font-size: 2.5em;
  }
}
